<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBO7E-u9wNJP-9fYtahqkdfii_-AGKnlYY</string>
	<key>GCM_SENDER_ID</key>
	<string>85837299824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myTeleclinic</string>
	<key>PROJECT_ID</key>
	<string>myteleclinic-e56d6</string>
	<key>STORAGE_BUCKET</key>
	<string>myteleclinic-e56d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85837299824:ios:8d9644ae7ec3da641234b5</string>
</dict>
</plist>